// variables parametro de pantalla para responsive

// sass/abstracts/_variables.scss

// tamaños de pantalla llamar con .abstracts
$bp-mobile-s: 320px;
$bp-mobile-m: 375px;
$bp-mobile-l: 425px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-laptop: 1336px;
$bp-desktop: 1440px;
$bp-desktop-m: 1536px;
$bp-desktop-l: 1920px;

//colors  llamar con abstracts.$
$gray: #F2F2F2;
$black: #1A1A1A;
$gray_2: #333333;
$orange: #f68019;

//gradientes llamar siempre en background


