@use "../abstracts/" as ab;
@use "../components/" as comps;

//footer
footer {
  background-color: ab.$azul;
  padding: 1rem;

  @include ab.breakpoint(mobile-s){
    padding: 0;
  }

  h4{
      text-align: center;
      margin: 2rem 0;
      font-size: 1.25rem;
      color: ab.$blanco;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      text-shadow: 0px 8px 13px rgba(0,0,0,0.46);

      @include ab.breakpoint(mobile-s){
        padding-top: 1rem;
        margin-top: 0;
      }
    }

  div.footer_container {
    
    @include ab.breakpoint(tablet){
      display: flex;
      justify-content: space-around;
    }

    section.contacto {
      padding: 1rem;

      @include ab.breakpoint(mobile-s){
        padding-left: 0;
        padding-right: 0;
      }

      picture {
        display: flex;
        justify-content: center;
        text-align: center;
        img {
          margin: 3rem;
          max-width: 50%;
        }
      }

     
      p {
        color: ab.$blanco;
        text-align: center;
        margin-bottom: 3rem;
        font-family: "Libre Franklin", sans-serif;
        font-weight: 500;
        span {
          text-decoration: underline;
          text-underline-offset: 5px;
          text-decoration-color: ab.$blanco;
          font-style: italic;
          font-weight: 200;
        }
      }

      div.rrss_container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          i {
            font-size: 2rem;
            color: ab.$blanco;
            &:hover {
              color: ab.$celeste;
            }
          }
        }
      }
    }

    section.paginas{
        margin-bottom: 1rem;
        padding: 2rem;
        p{
            color: ab.$blanco;
            text-align: center;
            font-family: "Libre Franklin", sans-serif;
            margin-bottom: 0.5rem;

            @include ab.breakpoint(tablet){
              position: relative;
              right: 14px;
            }
        }
        ul{
            display: flex;
            gap: 0.5rem;
            flex-wrap: wrap;
            justify-content: center;

            @include ab.breakpoint(tablet){
              flex-direction: column;
            }

            li a{
                color: ab.$celeste;
                font-family: "Libre Franklin", sans-serif;
                &:hover{
                    color: ab.$naranja
                }

            }
        }
    }

  }

   p.rights{
        color: ab.$blanco;
        font-size: 0.65rem;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Libre Franklin", sans-serif;
        color: ab.$negro;
    }

    p.a_stack{
        font-family: "Libre Franklin", sans-serif;
        margin-bottom: 0rem;
        color: ab.$celeste;
        font-size: 0.6rem;
        text-align: center;
    }

}
