@use '../abstracts/' as ab;
@use '../components/' as comps;

html, body {
  overflow-x: clip;
}

//header
  header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: white;
     
    div.header_container {      
      display: flex;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2rem;
      padding: 1rem 1rem;
      div.logo_container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
        img {
          max-width: 25%;
        }
        h1 {
          color: ab.$negro;
          font-family: "Montserrat", sans-serif;
          font-size: 0.75rem;
          
        }
      }

      button.menu_button {
        border: none;
        display: none;
        font-size: 3rem;
        background-color: transparent;
        justify-self: right;
        border-radius: 8px;
        color: ab.$naranja;
        cursor: pointer;
      }

      button.close_button {
        display: none;
      }

      nav #menu {
        ul {
          display: flex;
          flex-direction: row;
          gap: 2rem;
          justify-content: space-evenly;
          li a {
            font-family: "Sarala", sans-serif;
            text-decoration: none;
            color: ab.$negro;
          }
        }
      }

      //responsive para el navbar 768px
      @media screen and (max-width: 768px) {
        button.menu_button {
          display: block;
        }

        button.close_button {
          display: block;
          border: none;
          background-color: ab.$blanco;
          color: ab.$negro;
          font-size: 2.2rem;
          cursor: pointer;
          position: absolute;
          top: -69px;
          right: 24px;
        }

        nav.menu {
          opacity: 0;
          visibility: hidden;
          display: none;
          display: flex;
          flex-direction: column;
          align-items: end;
          gap: 1rem;
          position: absolute;
          top: 83px;
          left: 584px;
          padding: 16px;
          background: #ffffff;
          background: linear-gradient(
            134deg,
            rgba(255, 255, 255, 0.71) 100%,
            rgba(184, 223, 165, 0.96) 100%
          );
          border-radius: 0 0 10px 10px;
          z-index: 2;

          @include ab.breakpoint(mobile-l) {
            top: 107px;
            left: 171px;
            right: 0;
          }

          @include ab.breakpoint(mobile-m) {
            top: 97px;
            left: 171px;
            right: 0;
          }

          @include ab.breakpoint(mobile-s) {
            top: 76px;
            left: 0px;
            right: 0;
          }

          ul {
            flex-direction: column;
            align-self: baseline;
            li a{
              font-family: "Sarala", sans-serif;
              text-decoration: none;
              color: ab.$negro;
              &:hover{
                text-decoration: underline;
                text-decoration-color: ab.$naranja;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
              }

            }
          }
        }

        nav.visible {
          opacity: 1;
          visibility: visible;
        }
      }
    }

   
  }
