@use '../abstracts' as ab;

//buttons



// @mixin button_idle{
//     font-family: "Poppins", sans-serif;
//     font-size: 16px;
//     font-weight: 500;
//     color: ab.$black;
//     position: relative;
//     left: 75px;
//     text-decoration: none;
//     padding: 12px;
//     border-radius: 6px;
//     background-color: ab.$green;   
//     //boxshadow
//     box-shadow: 0px 4px 27px 8px rgba(0,0,0,0.46);
//     &:hover{
//         background-color: ab.$blue;
//         color: ab.$gray;
//     } 
    
// }

@mixin boton_1{
    display: inline-block;
    background-color: ab.$celeste;
    padding: 1rem 4rem;
    font-family: "Libre Franklin", sans-serif;
    color: ab.$negro;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 2rem;
    &:hover{
        background-color: ab.$negro;
        color: ab.$blanco;
    }
    
}

@mixin boton_2{
    display: inline-block;
    background-color: ab.$naranja;
    padding: 1rem 4rem;
    font-family: "Libre Franklin", sans-serif;
    color: ab.$blanco;
    text-decoration: none;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 2rem;
    &:hover{
        background-color: ab.$negro;
        color: ab.$blanco;
    }
    
}
