@use '../abstracts' as ab;

@mixin reset($lista, $margen, $padding){
    list-style: none;
    margin: 0px;
    padding: 0px;
}

html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

ul{
    list-style: none;
}