@use '../abstracts';



@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sarala:wght@400;700&display=swap');


//TITULOS
    // font-family: "Montserrat", sans-serif;

//SUBTITULOS
    //  font-family: "Libre Franklin", sans-serif;

//PARRAFOS
    //  font-family: "Sarala", sans-serif;

// small 
    // 0.25rem (4px)
    // 0.5rem (8px)
    // 0.75rem (12px)

// medium
    // 1rem (16px)
    // 1.25rem (20px)
    // 1.5rem(24px)

// large 
    // 2rem (32px)
    // 3rem (48px)
    // 4rem (64px)




