@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";



main.actividadesMain{   
    background-color: white;
}

div.tituloActividades{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 6rem 1rem 1.5rem 1rem;
    background: #090979;
    background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 71%);
    h2{
        font-family: "Montserrat", sans-serif;
        text-shadow: 0px 8px 13px rgba(0,0,0,0.46);
        font-size: 1.5rem;
        color:  ab.$blanco;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.2rem;
        text-decoration-color: ab.$naranja;

        @include ab.breakpoint(tablet-horizontal){
            margin-left: 2rem;
            font-size: 2rem;
            padding-bottom: 2rem;
    
        }
    }

   
}

div.actividadesContainer{
    background-color: whitesmoke;
    
    div.proximosEventos{

        @include ab.breakpoint(tablet-horizontal){
            padding-left: 3rem;
            padding-right: 3rem; 
        }

        @include ab.breakpoint(laptop){
            padding-left: 5rem;
            padding-right: 5rem;
    }
    
        h3{
            font-family: "Libre Franklin", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            color: ab.$negro;
            font-style: italic;
            padding: 2rem 2rem 0 2rem;
            span{
             color: ab.$naranja;
            }

            @include ab.breakpoint(tablet-horizontal){
                font-size: 1.25rem;
                padding-top: 3rem;
            }
        }

        article.evento{
            position: relative;
            padding: 2rem;
            padding-bottom: 0;
            text-align: center;

            @include ab.breakpoint(tablet-horizontal){
                display: flex;
                flex-direction: row;
                padding: 0;
                background-color: white;
                margin: 2rem;
                border-radius: 10px;
                align-items: center;
                box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
                -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
                -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);                    
            }
        
        img{
            border-radius: 10px;
            width: 100%;
            max-width: 325px;
            box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);

            @include ab.breakpoint(tablet-horizontal){
                box-shadow: none;
                border-radius: 10px 0 0 10px;
            }
        }
        p.fecha_cuadro{
          display: inline-block;
          background-color: ab.$celeste;
          color: ab.$negro;
          position: relative;
          top: 0px;
          padding: 0.5rem;
          position: absolute;
          top: 188px;
          right: 42px;
          border-radius: 5px;
          font-family: "Sarala", sans-serif;
          font-size: 1rem;
          line-height: 16px;
          span{
            font-size: 0.75rem;
          }

          @include ab.breakpoint(tablet-horizontal){
            visibility: hidden;
          }
        }

        p.fecha_cuadro{
          background-color: ab.$celeste;
        }

        div.eventos_datos{
          text-align: left;
          padding: 1rem;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 1rem;
          h4{
            font-family: "Libre Franklin", sans-serif;
            color: ab.$negro;
            text-decoration: underline;
          }
          p{
            font-family: "Sarala", sans-serif;
            color: ab.$negro;
            i{
              margin-right: 0.5rem;
              color: ab.$negro;
            }
          }

          @include ab.breakpoint(tablet){
            flex-wrap: nowrap;
            flex-direction: column;
            margin-left: 2rem;
          }
        }

      }

      a{
        @include comps.boton_1;

        
        @include ab.breakpoint(mobile-l){
           display: inline-block;
            position: relative;
            left: 55px;        
        }

        @include ab.breakpoint(mobile-m){
           display: inline-block;
            position: relative;
            left: 30px;        
        }
        
        @include ab.breakpoint(tablet-horizontal){
            display: inline-block;
            position: relative;
            left: 580px;            
        }

         @include ab.breakpoint(laptop){
           
            left: 830px;            
        }


      }
    }
    
   
    div.actividadesSubtitulo{
        background-color: ab.$celeste;
        padding: 3rem 1rem 3rem 1rem;
        text-align: center;

        @include ab.breakpoint(tablet-horizontal){
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
    
        p{
            color: ab.$negro;
            font-family: "Montserrat", sans-serif;
            margin: 1rem;
            text-align: center;
            font-size: 1rem;
            font-weight: bold;

            @include ab.breakpoint(tablet-horizontal){
                display: inline-block;
                max-width: 50%;
                margin-bottom: 2rem;
            }
            
        }

        form{
            outline: none;
            background-color: white;
            display: inline-block;
            border-radius: 10px;
            input{
                padding: 0.75rem;
                border: none;
                
            }

            #mail{
                border-radius: 10px 0 0 10px;
            }

            #submit{
                background-color: ab.$naranja;
                border-radius: 0px 10px 10px 0;
                font-family: "Libre Franklin", sans-serif;
                color: ab.$negro;
                font-weight: 500;
            }
        }
    }

    div.actividadesPasadas{
        
        h3{
            font-family: "Libre Franklin", sans-serif;
            font-size: 1rem;
            font-weight: 700;
            color: ab.$negro;
            font-style: italic;
            padding: 2rem 2rem 2rem 2rem;
            span{
                color: ab.$azul;
            }

            @include ab.breakpoint(tablet-horizontal){
                font-size: 1.25rem;
                padding-left: 5rem;
                padding-right: 5rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
        }

        details section{

            @include ab.breakpoint(tablet-horizontal){
                padding: 0 4rem 3rem 4rem ;
            }
            p{
                padding: 1rem 3rem 1rem 3rem;
                a{
                    text-decoration: none;
                    font-family: "Libre Franklin", sans-serif;
                    font-size: 0.75rem;
                    font-weight: 700;
                    color: #131457;
                    font-style: italic;
                    span{
                        color: ab.$azul;
                    }

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
           
            
        }
        
        
    }
}