@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";

main.asociadosMain{
    background-color: whitesmoke;
}

div.tituloAsociados{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 6rem 1rem 1.5rem 1rem;
    background: #090979;
    background: linear-gradient(368deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 71%);

    h2{
        font-size: 1.5rem;       
        font-family: "Montserrat", sans-serif;
        text-shadow: 0px 8px 13px rgba(0,0,0,0.46);
        color:  ab.$blanco;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        text-decoration-thickness: 0.2rem;
        text-decoration-color: ab.$naranja;
    }    
}

div.asociadosContainer{
    padding: 3rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

details{
    summary{
        list-style: none;

        :hover{
            cursor: pointer;
            text-decoration: underline;
        }
        h4{
            
            font-size: 1rem;
            color: ab.$negro;
            font-family: "Libre Franklin", sans-serif;
            font-style: italic;
            span{
                color: ab.$celeste;
            }
        }

        p{
            font-size: 0.75rem;        
            color: ab.$negro;
            font-family: "Sarala", sans-serif;
            // text-align: justify;
        }
    }

    .parent {
            margin-top: 0.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            justify-items: stretch;
            background-color: ab.$blanco;
            
            border-radius: 10px;

            box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);

            div{
                padding: 1rem;
                font-family: "Montserrat", sans-serif;
                font-size: 0.75rem;
                color: ab.$negro;
            }
            .div1 { 
                grid-area: 1 / 1 / 2 / 2;
                font-weight: bolder;
                background-color: ab.$azul;
                color: ab.$blanco;
                
            }
            .div2 { 
                grid-area: 1 / 2 / 2 / 3;
                font-weight: bolder;
                background-color: ab.$azul;
                color: ab.$blanco;
                 
            }
            .div3 { 
                grid-area: 2 / 1 / 3 / 2; 
            }
            .div4 { 
                grid-area: 2 / 2 / 3 / 3; 
            }
            .div5 { 
                grid-area: 3 / 1 / 4 / 2;
                background-color: rgba(128, 128, 128, 0.103); 
            }
            .div6 { 
                grid-area: 3 / 2 / 4 / 3;
                background-color: rgba(128, 128, 128, 0.103);  
            }
            .div7 { 
                grid-area: 4 / 1 / 5 / 2; 
            }
            .div8 { 
                grid-area: 4 / 2 / 5 / 3; 
            }
            .div9 { 
                grid-area: 5 / 1 / 6 / 2;
                background-color: rgba(128, 128, 128, 0.103);  
            }
            .div10 { 
                grid-area: 5 / 2 / 6 / 3;
                background-color: rgba(128, 128, 128, 0.103); 
            }
            .div11 { 
                grid-area: 6 / 1 / 7 / 2; 
            }
            .div12 { 
                grid-area: 6 / 2 / 7 / 3; 
            }
        }
}

div.comiteContainer{
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

details.comiteDetails{

    summary span{
        color: ab.$naranja;
    }

    div.parentComite{
        padding: 1rem;
        line-height: 2rem;

        div.divComite{
            details summary p{
               font-family: "Libre Franklin", sans-serif;
               font-size: 0.75rem;
               font-weight: 700;
               color: ab.$negro;
               font-style: italic;
               span{
                color: ab.$naranja;
               } 
            }

            div.subdivComite{
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                border-radius: 0 0 10px 10px;
                margin-bottom: 2rem;
                

                box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
                
                
                div{
                    padding: 0.5rem;
                    font-family: "Montserrat", sans-serif;
                    font-size: 0.75rem;
                    color: ab.$negro;
                }

                div.div0{
                    background-color: ab.$azul;
                    padding: 0.5rem;
                    font-weight: bolder;
                    color: ab.$blanco;
                }

                div.div1,  div.div3{
                    background-color: rgba(128, 128, 128, 0.103);
                } 
            }
        }

        

        
    }
}

div.estatutosContainer{
    padding: 1rem 2rem 1rem 2rem;
    a{
        text-decoration: none;
        font-family: "Libre Franklin", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        color: ab.$negro;
        font-style: italic;
        span{
            color: ab.$azul;
        }

        &:hover{
            text-decoration: underline;
        }
    }

    a.texto{        
        font-family: "Sarala", sans-serif;
        font-size: 0.75rem;      
        color: ab.$negro;
        text-decoration: none;
        font-weight: 200;
        font-style: normal;
        &:hover{
            text-decoration: underline;
        }
    }
}

div.miembrosContainer{
    padding: 1rem 2rem 3rem 2rem;
    
    div.tablaMiembros{
        margin-top: 1rem;
        padding:  0;
        font-size: 0.75rem;
        overflow-x: auto;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        
        box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);

        table{
            border-collapse: collapse;
            
            thead{
                background-color: ab.$azul;
                
            }

            

            td, th {
                text-align: left;
                padding: 0.75rem;
                white-space: nowrap;
                font-family: "Montserrat", sans-serif;
                color: ab.$negro;
            }

            th{
                color: ab.$blanco;
            }

            tr:nth-child(even){
                background-color: rgba(128, 128, 128, 0.103);
            }
        }
    }
}

//prueba con object
div.pdf{
    width: 100%;
  height: 80vh;
  
  padding: 2rem;

  object{
    width: 100%;
  height: 100%;
  }
}
