@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";




body {
  margin: 0;
  padding: 0;
  
  @include ab.breakpoint(desktop){
    margin-left: 6rem;
    margin-right: 6rem;
    background-color: rgba(0, 0, 0, 0.801);
    max-width: 87%;
  }

  //header --> layout/header
   
  //main
  main{

    div.hero_container {
      background: #f3ca40;
  background: linear-gradient(359deg, #f3ca40 6%, #92dce5c9 40%, #1a8fe3 89%);
      padding: 1rem 1rem;
      display: flex;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;

      @include ab.breakpoint(tablet-horizontal){
        padding-top: 3rem;
      }

      img {
        max-width: 70%;
      }

      div.hero_text {

        @include ab.breakpoint(tablet-horizontal){
          display: flex;
          flex-direction: column;
          padding: 3rem;
        }

        p.sociedad{
          font-family: "Montserrat", sans-serif;
          
          font-weight: 600;
          color: #00072d;
          background-image: linear-gradient(
            45deg,
            #00072d 33%,
            #0a2472 66%,
            #0e6ba8 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-decoration-color: ab.$negro;
          text-underline-offset: 5px;
        }
        
        h1 {
          font-family: "Montserrat", sans-serif;
          color: #00072d;
          background-image: linear-gradient(
            45deg,
            #00072d 33%,
            #0a2472 66%,
            #0e6ba8 100%
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block;
          font-size: 3rem;
        }
        
      }
    }
    
    div.main_container{
       padding: 0rem;

        // @include ab.breakpoint(tablet-horizontal){
        //   padding: 2rem;
        // }
    }
   
    section.presentacion{
      padding: 1rem;

      @include ab.breakpoint(tablet){
        padding-left: 8rem;
        padding-right: 8rem;
      } 
      
      @include ab.breakpoint(tablet-horizontal){
          padding-left: 14rem;
          padding-right: 14rem;
       }

        @include ab.breakpoint(laptop){
          padding-left: 25rem;
          padding-right: 25rem;
          margin-left: 3rem;
          margin-right: 3rem;
        }

      a{
        font-family: "Sarala", sans-serif;
        display: block;
        text-align: center;
        text-decoration-color: ab.$naranja;
        text-decoration-thickness: 2px;
        color: ab.$negro;
        text-underline-offset: 2px;
        margin-bottom: 1rem;
        &:hover{
          color: ab.$naranja;
        }
      }
      
      .mySwiper{
        padding-bottom: 1rem;
        overflow: visible;
      }
      
      article._presen{
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        background-image: url(/img/red_neuronal-ilum.jpeg);
        background-blend-mode: multiply;
        background-size: auto;

         @include ab.breakpoint(tablet-horizontal){
          padding: 2rem;
         }
        

        div.presentacion_titulo{
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-bottom: 1rem;
          img{
            max-width: 15%;
          }
        
          h2{
            color: ab.$blanco;
            font-family: "Libre Franklin", sans-serif; 
          }
        }
        
        p{
          font-family: "Sarala", sans-serif;
          line-height: 1.5rem;
          color: ab.$negro;
        }
      }
      .quienes{
        background-color: ab.$naranja;
        background-position: 1200px -289px;
      }
      .mision{
        background-color: ab.$azul;
        background-position: 12px 304px;
        position: relative;
        z-index: 2;
      }
      .vision{
        background-color: #34c7e0;
        background-position: -1200px 400px;
        
      }
    }

    section.actividades{
 
      padding: 1rem;
      text-align: center;
      border-top: 1px solid rgba(128, 128, 128, 0.589);
      border-bottom: 1px solid rgba(128, 128, 128, 0.589);
      margin-bottom: 1rem;

      @include ab.breakpoint(tablet){
        padding-left: 4rem;
        padding-right: 4rem;
       } 
      
      @include ab.breakpoint(tablet-horizontal){
        padding-left: 4rem;
        padding-right: 4rem;
       }

       @include ab.breakpoint(laptop){
        padding-left: 6rem;
        padding-right: 6rem;
       }
      
      h3{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-family: "Libre Franklin", sans-serif;
        color: ab.$negro;
        text-shadow: 3px -1px 6px rgba(0,0,0,0.54);

         @include ab.breakpoint(tablet-horizontal){
          margin-top: 2rem;
          margin-bottom: 2rem;
         }
      }

      #eventos_pasados_title{
        color: ab.$negro;
      }

      article.evento{
        position: relative;
        margin-bottom: 1rem;

         
        @include ab.breakpoint(tablet){
          display: flex;
          align-items: center;
          gap: 1rem;
          background-color: white;
          border-radius: 0 10px 10px 0;

          margin-bottom: 3rem;
         }
        
        @include ab.breakpoint(tablet-horizontal){
          display: flex;
          align-items: center;
          gap: 2rem;

          background-color: white;
          border-radius: 0 10px 10px 0;

          margin-bottom: 3rem;
         }
        
        img{
          border-radius: 10px;
          max-width: 325px;
          box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);

           @include ab.breakpoint(tablet-horizontal){
            border-radius: 10px 0 0 10px;
           }

        }
        p.fecha_cuadro{
          display: inline-block;
          background-color: ab.$celeste;
          color: ab.$negro;
          position: relative;
          top: 0px;
          padding: 0.5rem;
          position: absolute;
          top: 160px;
          right: 25px;
          border-radius: 5px;
          font-family: "Sarala", sans-serif;
          font-size: 1rem;
          line-height: 16px;
          span{
            font-size: 0.75rem;
          }

          @include ab.breakpoint(tablet-horizontal){
            visibility: hidden;
          }

          @include ab.breakpoint(tablet){
            visibility: hidden;
          }

          @include ab.breakpoint(mobile-l){
            top: 165px;
            right: 45px;
          }
        }

        p.fecha_pasada{
          background-color: ab.$naranja;

          @include ab.breakpoint(mobile-l){
            top: 157px;
            right: 45px;
          }
        }

        div.eventos_datos{
          text-align: left;
          padding: 0.5rem;

          @include ab.breakpoint(mobile-l){
            padding-left: 3rem;
            padding-right: 3rem;
          }

          h4{
            font-family: "Libre Franklin", sans-serif;
            color: ab.$negro;
            text-decoration: underline;
          }
          p{
            font-family: "Sarala", sans-serif;
            color: ab.$negro;
            i{
              margin-right: 0.5rem;
              color: ab.$negro;
            }
          }
        }

      }

      a{
        @include comps.boton_1;
      }

      #boton_2{
        @include comps.boton_2;
      }
    }

    section.directorio{
      padding: 1rem;
      text-align: center;

       h2{
        font-family: "Montserrat", sans-serif;
        color: ab.$negro;
        text-shadow: 3px -1px 6px rgba(0,0,0,0.54);
        margin-bottom: 1rem;

        @include ab.breakpoint(tablet-horizontal){
          margin-bottom: 3rem;
        }

        @include ab.breakpoint(tablet){
          margin-bottom: 3rem;
        }

        
      }

      .directorioStatic{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 3rem;

        @include ab.breakpoint(laptop){
          padding-left: 6rem;
          padding-right: 6rem;
        }

        // @include ab.breakpoint(tablet){
        //   display: inherit;
        // }

        @include ab.breakpoint(mobile-l){
          display: none;
        }

        @include ab.breakpoint(mobile-m){
          display: none;
        }

        // @include ab.breakpoint(mobile-s){
        //   display: none;
        // }

        article img{
          width: 60%;
          border-radius: 10px;
          box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        }

        .miembros_text{
          background-color: ab.$naranja;
          border-radius: 10px;
          width: 75%;
          position: relative;
          top: -60px;
          left: 34px;
          padding: 0.2rem;


          @include ab.breakpoint(tablet){
            width: 74%;            
            left: 31px;
            top: -52px;
          }

          @include ab.breakpoint(tablet-horizontal){
            width: 69%;            
            left: 52px;
          }
          
          @include ab.breakpoint(laptop){
            width: 65%;            
            left: 64px;
          }

          @include ab.breakpoint(desktop){
            width: 65%;            
            left: 60px;
          }

          @include ab.breakpoint(desktop-l){
            width: 65%;            
            left: 82px;
          }

          h3{
            font-family: "Libre Franklin", sans-serif;
            color: ab.$negro;

            @include ab.breakpoint(tablet){
              font-size: 0.80rem;
            }
            
          }

          p{
            font-family: "Sarala", sans-serif;
            color: ab.$negro;
            
            @include ab.breakpoint(tablet){
              font-size: 0.80rem;
            }
          }


          
        }
      }


      //swipwer desde 425px para abajo
      .directorioSwiper{
        padding-bottom: 1rem;
        overflow: visible;

         @include ab.breakpoint(tablet-horizontal){
          display: none;
         }

         @include ab.breakpoint(tablet){
          display: none;
         }

        .swiper-slide{
        // display: flex;
        // flex-wrap: wrap;
        
          article.miembro_container{
            padding: 0.5rem;
            max-width: 100%;
            position: relative;

  
          img{
            max-width: 100%;
            width: 100%;
            border-radius: 10px;
            box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);          
          }

          div.miembros_text{
          
            position: absolute;
            top: 230px;
            margin: 0px;
            width: 280px;
            background-color: ab.$naranja;
            padding: 0.5rem;
            border-radius: 0 10px 10px 0;
            box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            h3{
              color: ab.$negro;
              font-size: 1rem;
              font-family: "Libre Franklin", sans-serif;
            } 
            p{
              color: ab.$negro;
              font-family: "Sarala", sans-serif;
              line-height: 18px;
            }
          }

        }

        
      }


      }
      
     

      
      
    }

    section.recursos{
      background-color: ab.$blanco;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      @include ab.breakpoint(tablet){
        background-color: white;
        flex-wrap: nowrap;
        gap: 1rem;
      }
      
      @include ab.breakpoint(tablet-horizontal){        
        flex-wrap: nowrap;
        gap: 1rem;
        background-color: white;
      }
      
      @include ab.breakpoint(laptop){
        padding-left: 4rem;
        padding-right: 4rem;
        gap: 4rem;
      }
      
      div.recursos_container{
        padding: 1rem;
        max-width: 75%;
        text-align: center;
        margin-top: 2rem;
        
        &:hover{
          background-color: ab.$celeste;
          border-radius: 10px;
        }
        a{
          text-decoration: none;
          padding: 0.5rem;

          @include ab.breakpoint(tablet){
            display: flex;
            flex-direction: column;
            gap: 1rem;           
          }
          
          @include ab.breakpoint(tablet-horizontal){
            display: flex;
            flex-direction: column;
            gap: 1rem;           
          }
          
          i{
            color: ab.$azul;
            font-size: 4rem;
          }
          h4{
            color: ab.$naranja;
          }
          p{
            color: ab.$negro;
            
          }

          #comiteIconoHome{
            @include ab.breakpoint(laptop){
              margin-top: 1rem;
            }
          }
        }
      }

    }

    section.sponsors{
      margin-top: 2rem;

      @include ab.breakpoint(tablet-horizontal){
        margin-top: 0;
      }

      p{
        text-align: center;
        color: gray;
        font-family: "Sarala", sans-serif;
        margin: 2rem;

        @include ab.breakpoint(tablet-horizontal){
          font-size: 1.5rem;
        }
      }
      
      div.sponsors_container{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        text-align: center;
        
        picture{
          text-align: center;
          max-width: 75%;
          img{
            max-width: 60%;
          }
        }
      }
      
    }
  }
}
