@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";

body {
  margin: 0;
  padding: 0;

  //header --> layout/header

  //main
  main{
    
    div.main_container{
       padding: 0rem;
    }
   
    section.presentacion{
     padding: 1rem;
    
      article._presen{
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        background-image: url(/img/red_neuronal-ilum.jpeg);
        background-blend-mode: multiply;
        background-size: auto;
        

        div.presentacion_titulo{
          display: flex;
          gap: 1rem;
          align-items: center;
          margin-bottom: 1rem;
          img{
            max-width: 15%;
          }
        
          h2{
            color: ab.$blanco;
            font-family: "Libre Franklin", sans-serif; 
          }
        }
        
        p{
          font-family: "Sarala", sans-serif;
          line-height: 1.5rem;
          color: ab.$negro;
        }
      }
      .quienes{
        background-color: rgb(255, 129, 45);
        background-position: 1200px -289px;
      }
      .mision{
        background-color: #46575f;
        background-position: 12px 304px;
        position: relative;
        z-index: 2;
      }
      .vision{
        background-color: #34c7e0;
        background-position: -1200px 400px;
        
      }
    }

    section.actividades{
 
      padding: 1rem;
      text-align: center;
      border-top: 1px solid rgba(128, 128, 128, 0.589);
      border-bottom: 1px solid rgba(128, 128, 128, 0.589);
      margin-bottom: 1rem;
      
      h3{
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-family: "Libre Franklin", sans-serif;
        color: ab.$negro;
        text-shadow: 3px -1px 6px rgba(0,0,0,0.54);
      }

      #eventos_pasados_title{
        color: ab.$negro;
      }

      article.evento{
        position: relative;
        margin-bottom: 1rem;
        
        img{
          border-radius: 10px;
          max-width: 325px;
          box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
        }
        p.fecha_cuadro{
          display: inline-block;
          background-color: ab.$celeste;
          color: ab.$negro;
          position: relative;
          top: 0px;
          padding: 0.5rem;
          position: absolute;
          top: 160px;
          right: 25px;
          border-radius: 5px;
          font-family: "Sarala", sans-serif;
          font-size: 1rem;
          line-height: 16px;
          span{
            font-size: 0.75rem;
          }
        }

        p.fecha_pasada{
          background-color: ab.$naranja;
        }

        div.eventos_datos{
          text-align: left;
          padding: 0.5rem;
          h4{
            font-family: "Libre Franklin", sans-serif;
            color: ab.$negro;
            text-decoration: underline;
          }
          p{
            font-family: "Sarala", sans-serif;
            color: ab.$negro;
            i{
              margin-right: 0.5rem;
              color: ab.$negro;
            }
          }
        }

      }

      a{
        @include comps.boton_1;
      }

      #boton_2{
        @include comps.boton_2;
      }
    }

    section.directorio{
      padding: 1rem;
      text-align: center;
      // background-color: ab.$celeste;

      h2{
        font-family: "Montserrat", sans-serif;
        color: ab.$negro;
        text-shadow: 3px -1px 6px rgba(0,0,0,0.54);
        margin-bottom: 1rem;
      }

      div.miembros{
        // display: flex;
        // flex-wrap: wrap;
        
        article.miembro_container{
          padding: 1rem;
          max-width: 100%;
          position: relative;
          
          img{
            max-width: 100%;
            border-radius: 10px;
            
          }
        }

        div.miembros_text{
          
          position: absolute;
          top: 218px;
          margin: 4px;
          width: 280px;
          background-color: ab.$naranja;
          padding: 0.5rem;
          border-radius: 0 10px 10px 0;
          box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
            -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
          h3{
            color: ab.$negro;
            font-size: 1rem;
            font-family: "Libre Franklin", sans-serif;
          } 
          p{
            color: ab.$negro;
            font-family: "Sarala", sans-serif;
            line-height: 18px;
          }
        }
      }
      
    }

    section.recursos{
      background-color: ab.$blanco;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      

      div.recursos_container{
        padding: 1rem;
        max-width: 75%;
        text-align: center;
        margin-top: 2rem;
        
        &:hover{
          background-color: ab.$celeste;
          border-radius: 10px;
        }
        a{
          text-decoration: none;
          padding: 0.5rem;
          
          i{
            color: ab.$azul;
            font-size: 4rem;
          }
          h4{
            color: ab.$naranja;
          }
          p{
            color: ab.$negro; 
          }
        }
      }

    }

    section.sponsors{
      margin-top: 2rem;
      p{
        text-align: center;
        color: gray;
        font-family: "Sarala", sans-serif;
        margin: 2rem;
      }
      
      div.sponsors_container{
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        text-align: center;
        
        picture{
          text-align: center;
          max-width: 75%;
          img{
            max-width: 60%;
          }
        }
      }
      
    }
  }
}
