@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";

main.nosotrosMain {
     background-color: whitesmoke;
}

div.tituloNosotros {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 1rem;
  padding: 6rem 1rem 1.5rem 1rem;
  background: #090979;
  background: linear-gradient(
    136deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 71%
  );

  h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.46);
    color: ab.$blanco;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: ab.$naranja;
  }
}

div.historiaContainer {
  background-color: whitesmoke;
  &:before {
    content: "";
    position: absolute;

    top: 320px;
    left: 30px;
    background-color: ab.$celeste;
    width: 2px;
    height: 255px;
  }

 
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  h3 {
    font-size: 1rem;
    color: ab.$negro;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    span {
      color: ab.$celeste;
    }
  }

  p {
    padding: 0 2rem;
    font-size: 0.75rem;

    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;
  }
}

div.valoresContainer {
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;

  &:before {
    content: "";
    position: absolute;
    top: 623px;
    left: 30px;
    background-color: ab.$naranja;
    width: 2px;
    height: 350px;
  }

  h3 {
    font-size: 1rem;
    color: ab.$negro;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    span {
      color: ab.$naranja;
    }
  }
}

div.valores {
  p {
    padding: 0 2rem;
    font-size: 0.75rem;
    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;
  }

  ul {
    margin-left: 3rem;
    list-style: square;

    li {
      color: ab.$negro;
      font-family: "Sarala", sans-serif;
      font-size: 0.75rem;
    }
  }
}

div.misionVision {
  p {
    padding: 0 2rem;
    font-size: 0.75rem;

    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;
  }
}
