@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";

main.nosotrosMain {
     background-color: whitesmoke;
}

div.tituloNosotros {
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 1rem;
  padding: 6rem 1rem 1.5rem 1rem;
  background: #090979;
  background: linear-gradient(
    136deg,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 212, 255, 1) 71%
  );

  h2 {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    text-shadow: 0px 8px 13px rgba(0, 0, 0, 0.46);
    color: ab.$blanco;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: ab.$naranja;

    @include ab.breakpoint(tablet-horizontal){
      margin-left: 2rem;
      font-size: 2rem;
      padding-bottom: 2rem;
    }

    @include ab.breakpoint(tablet){
      margin-left: 2rem;
      font-size: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}

div.historiaContainer {
  background-color: whitesmoke;

  @include ab.breakpoint(mobile-l){
    padding: 2rem;
  }

  @include ab.breakpoint(mobile-s){
    padding: 0.5rem;
  }

  
  @include ab.breakpoint(tablet){
    padding: 3rem;
  }
  
  @include ab.breakpoint(tablet-horizontal){
    padding: 3rem;
  }

  @include ab.breakpoint(laptop){
    padding: 5rem;
  }

  &:before {
    content: "";
    position: absolute;

    top: 320px;
    left: 30px;
    background-color: ab.$celeste;
    width: 2px;
    height: 255px;

   
    
    @include ab.breakpoint(mobile-l){
      top: 316px;
      left: 44px;
      height: 196px;
    }

    @include ab.breakpoint(mobile-m){
      top: 303px;
      left: 44px;
      height: 238px;      
    }

    @include ab.breakpoint(mobile-s){
      top: 268px;
      left: 20px;
      height: 253px;      
    }
    
    @include ab.breakpoint(tablet){
      top: 350px;
      left: 60px;
      height: 140px;
    }
    
    @include ab.breakpoint(tablet-horizontal){
      top: 386px;
      left: 60px;
      height: 206px;
    }

    @include ab.breakpoint(laptop){
      top: 433px;
      left: 96px;
      height: 180px;
    }

    @include ab.breakpoint(desktop){      
      left: 190px;     
    }

    @include ab.breakpoint(desktop-l){      
      visibility: hidden;     
    }
  }


  h3 {
    font-size: 1rem;
    color: ab.$negro;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    span {
      color: ab.$celeste;
    }

    @include ab.breakpoint(mobile-l){
      margin-bottom: 1rem;
    }
    
    @include ab.breakpoint(tablet){
      margin-bottom: 2rem;
    }
    
    @include ab.breakpoint(tablet-horizontal){
      font-size: 1.25rem;
    }
  }

  p {
    padding: 0 2rem;
    font-size: 0.75rem;

    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;

    @include ab.breakpoint(tablet-horizontal){
      font-size: 1rem;
      padding: 2rem 2rem 0 2rem;
    }
  }
}

div.valoresContainer {
  background-color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;

  @include ab.breakpoint(mobile-l){
    padding: 2rem;
  }

  @include ab.breakpoint(mobile-s){
    padding: 0.5rem;
  }

  @include ab.breakpoint(tablet){
    padding: 3rem;
  }
  
  @include ab.breakpoint(tablet-horizontal){
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include ab.breakpoint(laptop){
    padding: 5rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 623px;
    left: 30px;
    background-color: ab.$naranja;
    width: 2px;
    height: 350px;

    
    
    
    @include ab.breakpoint(mobile-l){
      top: 594px;
      left: 44px;
      height: 348px;
    }

    @include ab.breakpoint(mobile-m){
      top: 624px;
      left: 44px;
      height: 425px;      
    }

     @include ab.breakpoint(mobile-s){
      top: 561px;
      left: 20px;
      height: 425px;      
    }
    
    @include ab.breakpoint(tablet){
      top: 595px;
      left: 60px;
      height: 290px;
    }
    
    @include ab.breakpoint(tablet-horizontal){
      top: 666px;
      left: 60px;
      height: 357px;
    }

    @include ab.breakpoint(laptop){
      top: 786px;
      left: 96px;
      height: 298px;
    }

    @include ab.breakpoint(desktop){      
      left: 190px;     
    }

    @include ab.breakpoint(desktop-l){      
      visibility: hidden;     
    }
  }

  h3 {
    font-size: 1rem;
    color: ab.$negro;
    font-family: "Libre Franklin", sans-serif;
    font-style: italic;
    span {
      color: ab.$naranja;
    }

    @include ab.breakpoint(tablet){
      margin-bottom: 1rem;
    }

    @include ab.breakpoint(tablet-horizontal){
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }
}

div.valores {

  
  p {
    padding: 0 2rem;
    font-size: 0.75rem;
    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;

    @include ab.breakpoint(tablet-horizontal){
      font-size: 1rem;
    }

    
  }

  ul {
    margin-left: 3rem;
    list-style: square;

    @include ab.breakpoint(tablet-horizontal){
      padding-bottom: 1rem;
    }

    li {
      color: ab.$negro;
      font-family: "Sarala", sans-serif;
      font-size: 0.75rem;

      @include ab.breakpoint(tablet-horizontal){
        font-size: 1rem;
      }
    }
  }
}

div.misionVision {
  p {
    padding: 0 2rem;
    font-size: 0.75rem;

    color: ab.$negro;
    font-family: "Sarala", sans-serif;
    text-align: justify;

    @include ab.breakpoint(tablet-horizontal){
      font-size: 1rem;
    }
  }
}
