@use "../abstracts" as ab;
@forward "../vendors/vendors";
@use "../base";
@use "../components" as comps;
@use "../layout";
@use "../themes";
@use "../settings";

main.recursosMain{   
    background-color: whitesmoke;
}

div.tituloRecursos{
    display: flex;
    gap: 0.2rem;
    align-items: center;
    padding: 6rem 1rem 1.5rem 1rem;
    background: #090979;
    background: linear-gradient(250deg, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 71%);

    h2{
        font-family: "Montserrat", sans-serif;
        font-size: 1.5rem;
        text-shadow: 0px 8px 13px rgba(0,0,0,0.46);
        color:  ab.$blanco;
        text-decoration: underline;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.2rem;
        text-decoration-color: ab.$naranja;

        @include ab.breakpoint(tablet-horizontal){
            margin-left: 2rem;
            font-size: 2rem;
            padding-bottom: 2rem;       
        }
    }

   
}

section{
    padding: 3rem 2rem 3rem 2rem;
}

.recursosExternos{
    padding-bottom: 0rem;
    background-color: whitesmoke;

    @include ab.breakpoint(tablet-horizontal){
        margin-left: 3rem;
    }

    @include ab.breakpoint(laptop){
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    h2{
        font-size: 1rem;
        color: ab.$negro;
        font-family: "Libre Franklin", sans-serif;
        font-style: italic;
        span {
          color: ab.$celeste;
        }
        margin-bottom: 1rem;

        @include ab.breakpoint(tablet-horizontal){
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }

    div.recursos{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        margin-left: 1rem;

        article{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;

            @include ab.breakpoint(tablet-horizontal){
                margin-left: auto;
                margin-right: auto;
                justify-content: space-evenly;
            }


            img{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              
              @include ab.breakpoint(tablet-horizontal){
                width: 80px;
                height: 80px;
              }
            }
            a{
                font-family: "Libre Franklin", sans-serif;
                font-size: 0.75rem;
                font-weight: 700;
                color: #131457;
                font-style: italic;
                text-decoration: none;
                span{
                    color: ab.$azul;
                }

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.websrelacionadas{

    @include ab.breakpoint(tablet-horizontal){
        margin-left: 3rem;
    }

     @include ab.breakpoint(laptop){
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    h2{
        font-size: 1rem;
        color: ab.$negro;
        font-family: "Libre Franklin", sans-serif;
        font-style: italic;
        span {
          color: ab.$naranja;
        }
        margin-bottom: 1rem;

        @include ab.breakpoint(tablet-horizontal){
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }

    div.webs{
        display: flex;
        flex-wrap: wrap;
        gap:1rem;
        margin-left: 1rem;

        @include ab.breakpoint(tablet-horizontal){
            flex-wrap: nowrap;
            gap: 4rem;
        }


        article{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0;
            grid-row-gap: 0;
            align-items: center;

            @include ab.breakpoint(tablet-horizontal){
                margin-left: auto;
                margin-right: auto;
                justify-content: space-evenly;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            img{
                width: 50px;
                height: 50px;
                grid-area: 1 / 1 / 3 / 2;
                border-radius: 10px;
                box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -webkit-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              -moz-box-shadow: 1px 18px 25px -7px rgba(0,7,45,0.6);
              
              @include ab.breakpoint(tablet-horizontal){
                width: 80px;
                height: 80px;
              }
            }
            a{
                grid-area: 1 / 2 / 2 / 4;
                font-family: "Libre Franklin", sans-serif;
                font-size: 0.75rem;
                font-weight: 700;
                color: #131457;
                font-style: italic;
                text-decoration: none;
                span{
                    color: ab.$naranja;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            p{
                grid-area: 2 / 2 / 3 / 4;
                align-self: self-start;
                font-family: "Sarala", sans-serif;
                font-size: 0.75rem;
                font-weight: 500;
                color: ab.$azul;
                @include ab.breakpoint(tablet-horizontal){
                    
                   text-align: center;
                   
                }
                
            }

            #enlaceSBN{
                @include ab.breakpoint(mobile-l){
                    margin-left: 0.8rem;
                }

                 @include ab.breakpoint(mobile-m){
                    margin-left: 0rem;
                }
            }
        }


    }


}