//Todos los valores por defecto que deseo que tenga la pagina


html *{
    box-sizing: border-box;
   
}

body {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
} 

